<?xml version="1.0" ?>
<world name="demo_world" gravity= "0.0 0.0 0.0">

   <robot name="ocean1">
       <model dir="${CS225A_URDF_FOLDER}/ocean1" path="ocean1.urdf" name="ocean1" />
       <origin xyz="0 0 1" rpy="0 0 0" />
   </robot>

   <static_object name="Ground_With_Texture">
       <origin xyz="0.5 0.0 -1.0" rpy="0 0 0" />
       <visual>
           <origin xyz="0.0 0.0 -0.0001" rpy="0 0 0" />
           <geometry>
               <box size="12 12 0.0004" />
           </geometry>
           <material name="material">
               <color rgba="0.6 0.6 0.3 1.0" />
           </material>
       </visual>
       <collision>
           <origin xyz="0.0 0.0 -0.0001" rpy="0 0 0" />
           <geometry>
               <box size="12 12 0.5" />
           </geometry>
       </collision>
   </static_object>

   <dynamic_object name="sand">
       <origin xyz="0.5 2 0.1" rpy="1.571 0 0" />
       <inertial>
           <origin xyz="0 0 0" rpy="0 0 0" />
           <mass value="5" />
           <inertia ixx="0.001" iyy="0.001" izz="0.001" ixy="0" ixz="0" iyz="0" />
       </inertial>

       <visual>
           <origin xyz="0 0 0" rpy="0 0 0" />
           <geometry>
               <mesh filename="${CS225A_URDF_FOLDER}/test_objects/meshes/visual/sand.obj" />
           </geometry>
           <material name="material">
               <color rgba="0 0 0 1" />
           </material>
       </visual>

   </dynamic_object>

   <dynamic_object name="coralFinal">
       <origin xyz="1 0 0.5" rpy="1.571 0 0" />
       <inertial>
           <origin xyz="0 0 0" rpy="0 0 0" />
           <mass value="500000" />
           <inertia ixx="0.1" iyy="0.1" izz="0.1" ixy="0" ixz="0" iyz="0" />
       </inertial>

       <!-- <visual>
           <origin xyz="0 0 0" rpy="0 0 0" />
           <geometry>
               <mesh filename="${CS225A_URDF_FOLDER}/test_objects/meshes/visual/coralFinal.obj" />
           </geometry>
           <material name="material">
               <color rgba="0 0 0 1" />
           </material>
       </visual> -->

       <visual>
           <origin xyz="0 0 0" rpy="0 0 0" />
           <geometry> 
               <box size="0.25 0.25 0.25" />
           </geometry>
           <material name="material">
               <color rgba="0.73 0.03 0.04 1.0" />
           </material>
       </visual>

       <collision>
           <origin xyz="0 0 0" rpy="0 0 0" />
           <geometry>
               <box size="0.25 0.25 0.25" />
           </geometry>
       </collision>

   </dynamic_object>


   <dynamic_object name="welcome_sign">
       <origin xyz="2.1 1 0" rpy="1.571 0 1.571" />
       <inertial>
           <origin xyz="0 0 0" rpy="0 0 0" />
           <mass value="5" />
           <inertia ixx="0.001" iyy="0.001" izz="0.001" ixy="0" ixz="0" iyz="0" />
       </inertial>
       <visual>
           <origin xyz="0 0 0 " rpy="0 0 0" />
           <geometry>
               <mesh filename="${CS225A_URDF_FOLDER}/test_objects/meshes/visual/welcome_sign.obj" />
           </geometry>
           <material name="material">
               <color rgba="0.66 0.95 16 0.8" />
           </material>
       </visual>
   </dynamic_object>

   <!-- <dynamic_object name="sandCastle1">
       <origin xyz="4 -6 0.5" rpy="1.571 0 -1.571" />
       <inertial>
           <origin xyz="0 0 0" rpy="0 0 0" />
           <mass value="5" />
           <inertia ixx="0.001" iyy="0.001" izz="0.001" ixy="0" ixz="0" iyz="0" />
       </inertial>
       <visual>
           <origin xyz="0 0 0 " rpy="0 0 0" />
           <geometry>
               <mesh filename="${CS225A_URDF_FOLDER}/test_objects/meshes/visual/sandCastle1.obj" />
           </geometry>
           <material name="material">
               <color rgba="0.66 0.95 16 0.8" />
           </material>
       </visual>

       <visual>
           <origin xyz="0 0 0" rpy="0 0 0" />
           <geometry>
               <box size="0.25 0.25 0.25" />
           </geometry>
           <material name="material">
               <color rgba="0 1 0.95 0.8" />
           </material>
       </visual>

       <collision>
           <origin xyz="0 0 0" rpy="0 0 0" />
           <geometry>
               <box size="0.25 0.25 0.25" />
           </geometry>
       </collision>
   </dynamic_object> -->

    <dynamic_object name="whale_fall">
       <origin xyz="0 0 0" rpy="1.571 0 1.571" />
       <inertial>
           <origin xyz="0 0 0" rpy="0 0 0" />
           <mass value="5" />
           <inertia ixx="0.001" iyy="0.001" izz="0.001" ixy="0" ixz="0" iyz="0" />
       </inertial>
       <visual>
           <origin xyz="0 0 0 " rpy="0 0 0" />
           <geometry>
               <mesh filename="${CS225A_URDF_FOLDER}/test_objects/meshes/visual/whale_fall.obj" />
           </geometry>
           <material name="material">
               <color rgba="0.66 0.95 16 0.8" />
           </material>
       </visual>
   </dynamic_object>

   <!-- <dynamic_object name="rock">
       <origin xyz="-5 -3 0" rpy="1.571 0 1.571" />
       <inertial>
           <origin xyz="0 0 0" rpy="0 0 0" />
           <mass value="5" />
           <inertia ixx="0.001" iyy="0.001" izz="0.001" ixy="0" ixz="0" iyz="0" />
       </inertial>
       <visual>
           <origin xyz="0 0 0 " rpy="0 0 0" />
           <geometry>
               <mesh filename="${CS225A_URDF_FOLDER}/test_objects/meshes/visual/rock.obj" />
           </geometry>
           <material name="material">
               <color rgba="0.66 0.95 16 0.8" />
           </material>
       </visual>
   </dynamic_object> -->

   <light name="light1" type="directional">
       <position xyz="2.0 2.0 2.0" />
       <lookat xyz="0.0 0.0 0.0" />
   </light>

   <camera name="camera_fixed">
       <position xyz="4.0 1.0 3.0" />
       <vertical xyz="0.0 0.0 1.0" />
       <lookat xyz="0.0 0.0 0.0" />
   </camera>

</world>

